TICKTICK_CLIENT_ID=your_ticktick_client_id
TICKTICK_CLIENT_SECRET=your_ticktick_client_secret
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret
DEBUG_TOKEN=your_debug_token
GITHUB_TOKEN=optional_github_token
